header{
	background: #F4B226;
	position: fixed;
	width: 100%;
	box-shadow: 0px 0px 15px #1c1c1c;
	z-index: 2;
	
}
.navbar-brand img{
	width: 80px;
}
.flexslider{
	margin-top: 110px;
}
.slider-btn{
	margin: 10px 0 10px 0;
    top: 106px;
    display: block;
    position: relative;
}
.slider-btn a{
	margin: 12px;
}
.flex-control-paging li a.flex-active{
	background: #F4B226 !important;
}
.flex-direction-nav .flex-prev,.flex-direction-nav .flex-next {
	display: none;
}
.add{
	text-align: center;
}

.add a{
	background: #1a1a1c;
	border-radius: 5rem;
	width: 200px;
}
.popular{
	margin-top: 30px;
	padding: 10px;
}
.title{
	padding-bottom: 10px;

}
.card{
	border:0;
}

.bg-img img{
	border-radius: 10px 10px 0 0;
}
.price{
	font-weight: bold;
	font-size:12px;
	color: #fff;
	width: 60px;
}
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu article {
  display: inline-block;
  text-align: center;

}

