<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">
<name>Burger</name>
<description>
El mejor restaurante
</description>
<author href="https://futurodelweb.com" email="info@futurodelweb.com">
Marco Andrade 
</author>

<preference name = " phonegap-version " value = " 3.6.0" />
<icon src="logo.png" />
</widget>
